doctype html

html
    head
        title #{pageTitle}
        link(href="/css/style.css" rel="stylesheet")
        
    body
        - if (messages.success)
            div(
                class="alert alert-success alert-message"
                alert-message
            ) #{messages.success}
        - if (messages.error)
            div(
                class="alert alert-danger alert-message"
                alert-message
            ) #{messages.error}

        include ../../partials/forgot-header.pug
        
        div(class="forgot__main")
            form(class="forgot__content" action="/user/password/forgot" method="POST")
                div(class="forgot-title") Tìm tài khoản của bạn
                div(class="forgot-form")
                    div(class="forgot-desc") Vui lòng nhập email để tìm kiếm tài khoản của bạn.
                    input(type="email" name="email" placeholder="Email của bạn" class="forgot-email")
                div(class="forgot-buttons")
                    a(class="forgot-cancel" href="/user/login") Hủy
                    button(class="forgot-search" type="submit") Tìm kiếm

        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
        script(src="/js/script.js") 

