extends ../../layouts/user.pug 

block main
    div(class="content__right")
        div(class="content__title") #{pageTitle}

        div(class="list-user" list-friends=user.id)
            each item in users
                div(class="box-user" user-id=item.id)
                    a(href=`/user/${item.slug}`)
                        div(class="inner-avatar")
                            img(
                                src=item.avatar
                                alt=item.fullname
                            )
                    div(class="inner-info")
                        a(href=`/user/${item.slug}`)
                            div(class="inner-name") #{item.fullname}
                        div(class="inner-buttons")
                            a(
                                btn-message-friend
                                href=`/chat/${item.roomChatId}`
                            ) Message
                            button(
                                btn-delete-friend=item.id
                            ) Unfriend
                            button(
                                btn-deleted-friend=item.id
                            ) Unfriended
                            div(
                                class="inner-status"
                                status=item.statusOnline
                            ) <i class="fa-solid fa-circle"></i>