doctype html
html
    head
        title #{pageTitle}
        link(href="/css/style.css" rel="stylesheet")
        
    body
      - if (messages.success)
          div(
              class="alert alert-success alert-message"
              alert-message
          ) #{messages.success}
      - if (messages.error)
          div(
              class="alert alert-danger alert-message"
              alert-message
          ) #{messages.error}

      .register
        .register-logo messenger 
        form(
          action="/user/register"
          method="POST"
          class="register-form"
        )
          h1(class="register-title") #{pageTitle}
          p(class="register-desc") Nhanh chóng và dễ dàng.
          input(
            type="text"
            class="register-input"
            id="fullname"
            name="fullname"
            placeholder="Họ và tên"
            required
          )
          input(
            type="email"
            class="register-input"
            id="email"
            name="email"
            placeholder="Email"
            required
          )
          input(
            type="password"
            class="register-input"
            id="password"
            name="password"
            placeholder="Mật khẩu mới"
            required
          )
          p(class="register-more") Những người dùng dịch vụ của chúng tôi có thể đã tải thông tin liên hệ của bạn lên Facebook.
          button(
            type="submit"
            class="register-button"
          ) Đăng ký
          a(href="/user/login" class="register-back") Bạn đã có tài khoản ư?