doctype html

html
    head
        title #{pageTitle}
        link(href="/css/style.css" rel="stylesheet")
        
    body
        - if (messages.success)
            div(
                class="alert alert-success alert-message"
                alert-message
            ) #{messages.success}
        - if (messages.error)
            div(
                class="alert alert-danger alert-message"
                alert-message
            ) #{messages.error}

        include ../../partials/forgot-header.pug
        
        div(class="forgot__main")
            form(class="otp__content" action="/user/password/reset" method="POST")
                div(class="reset-top")
                    div(class="reset-image")
                        img(src=avatar alt=fullname)    
                div(class="reset-title") Khôi phục mật khẩu #{fullname}
                div(class="reset-des") #{email}

                div(class="reset-password")
                    input(type="password" placeholder="Mật khẩu mới" name="password" class="reset-input")
                    button(class="reset-button" type="submit") Khôi phục mật khẩu


                

        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
        script(src="/js/script.js") 

